name: Deploy Genah Express Production

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ["genah-Express"]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Environment Variables
        run: |
          echo "${{vars.ENV_PRODUCTION}}" > .env
          echo "File .env dibuat di: $(pwd)"
          ls -la
      - name: Setup Node
        run: |
          chmod +x create_image.sh
          ./create_image.sh
  # Deployment job
  deploy:
    runs-on: ["genah-Express"]
    needs: build
    steps:
      - name: Debug .env File
        run: cat .env

      - name: Docker Compose Up
        run: docker compose up -d
